<ion-header>

  <ion-navbar>
    <ion-title>Jornada</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="goToResultados()">Ir a resultados</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item *ngIf="equipos.length == 0" class="mensaje">
    <div text-center padding>
      No hay jornadas pendientes
    </div>
  </ion-item>

  <ion-list>

    <ion-item-sliding *ngFor="let equipo of equipos; let i = index">
      <ion-item (click)="details(equipo, i)">
        <ion-avatar item-start>
          <img src="../../assets/imgs/options/chess-rook-solid.svg">
        </ion-avatar>
        <h2>{{equipo.nombre}}</h2>
        <p>Ciudad: {{equipo.ciudad}}</p>
        <ion-icon item-right name="ios-arrow-back"></ion-icon>
        <ion-note item-end>Deslizar</ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(i)">
          <ion-icon name="trash"></ion-icon>
          Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <div text-center padding>
    <button ion-button color="primary" (click)="addEquiposView()">Añadir jornada</button>
  </div>
</ion-content>