<ion-header>

  <ion-navbar>
    <ion-title>Jornada</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item *ngIf="equipos.length == 0" class="mensaje">
  <div text-center padding>
  No hay jornadas pendientes
  </div>
  </ion-item>
      <ion-list *ngFor="let equipo of equipos; let i = index">
    <button text-center ion-item block (click)="details(equipo, i)">
      <ion-item>
        {{equipo.nombre}}
        <ion-note item-end>
          {{equipo.ciudad}}
        </ion-note>
      </ion-item>
    </button>
  </ion-list>
  <div text-center padding>
  <button ion-button color="primary" (click)="addEquiposView()">Añadir jornada</button>
  </div>
</ion-content>
