<ion-header>

  <ion-navbar>
    <ion-title>Resultados</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="goToHome()">Home <ion-icon name="home"></ion-icon></button></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item *ngIf="equipos.length == 0" class="mensaje">
    <div text-center padding>
      No hay resultados
    </div>
  </ion-item>

  <ion-list>

    <ion-item *ngFor="let equipo of equipos; let i = index" (click)="details(equipo, i)">
      <ion-avatar item-start>
        <img src="../../assets/imgs/options/poll-solid.svg">
      </ion-avatar>
      <h2>{{equipo.nombre}}</h2>
      <ion-note item-end>
        {{equipo.ciudad}} ({{ equipo.local }})
      </ion-note>
    </ion-item>

  </ion-list>

</ion-content>
